/*
  @project: Web Client React Redux
  @create: 10/03/2017
  @update: 10/03/2017
  @description: Main style of the project
*/

/*------------------*/
/* == SUMMARY       */
/*------------------*/
/*

1. IMPORT 
2. GENERAL 

*/

/*------------------*/
/* == IMPORT        */
/*------------------*/
@import './reset.styl'

/*------------------*/
/* == GENERAL       */
/*------------------*/
body
  box-sizing border-box
  background-image url('../assets/images/react_logo.png')
  background-repeat no-repeat
  background-position center center
  color #FFF
  font-family 'Helvetica'
  padding 48px