/*
  @project: Web Client React Redux
  @create: 10/03/2017
  @update: 10/03/2017
  @description: Main style of the project
*/

/*------------------*/
/* == SUMMARY       */
/*------------------*/
/*

1. IMPORT 
2. GENERAL 
3. LOADER
4. TODOS-FORM
5. TODOS-LIST
6. TODOS-FOOTER

*/

/*------------------*/
/* == IMPORT        */
/*------------------*/
@import './reset.styl'

/*------------------*/
/* == GENERAL       */
/*------------------*/
html, body
  height 100%
  width 100%
  
body
  background linear-gradient(135deg, #444a57 0%, #1e2228 100%)
  background-repeat no-repeat
  box-sizing border-box
  font-family Roboto, Helvetica, Arial, sans-serif
  
.Todos
  text-align center
  
input[type^=text]
  border none
  &:focus
    outline none
    
.navLink
  position fixed
  font-size 12px
  left 24px
  top 24px

.Todos-header
  background linear-gradient(to right, #444a57 0%,#1e2228 100%)
  box-shadow 0 6px 4px rgba(0,0,0,0.25)
  top 0
  width 100%
  
  h1
    color rgba(253, 253, 253, 0.15)
    font-size 18px
    font-weight 500
    line-height 48px
    margin-bottom 24px
    text-shadow 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 0 rgba(131, 131, 131, 0.5)
    text-transform uppercase

/*------------------*/
/* == GENERAL       */
/*------------------*/
.loader
  $size = 48px
  display inline-block
  padding 8px
  position relative
  height $size
  width $size
  
  
  &:before,
  &:after
    background-color RGBA(131, 131, 131, 0.4)
    border-radius 100%
    content ''
    display block
    position absolute
    transform-origin center center
    height 100%
    width 100%
  
  &:after
    animation pop 1200ms infinite alternate cubic-bezier(0.445, 0.05, 0.55, 0.95)
    
  &:before
    animation pop 1200ms infinite alternate-reverse cubic-bezier(0.445, 0.05, 0.55, 0.95)
    
@keyframes pop
  0% 
    transform scale(1)
  100% 
    transform scale(0)

/*------------------*/
/* == TODOS-FORM    */
/*------------------*/
.Todos-form
  box-shadow 0 4px 4px rgba(0, 0, 0, 0.25)
  display flex
  margin 0 auto
  position relative
  width 340px
  z-index 2
  
  .Todos-input
    background #FDFDFD
    color #000
    box-sizing border-box
    font-size 20px
    font-weight 200
    line-height 48px
    padding 0 0 0 16px
    text-align left
    width 85.88%
    
    &::placeholder
      color #BCC1CB
      
  .Todos-submit
    appearance none
    background #FDFDFD url("../assets/images/plus.svg")
    background-size 24px 24px
    background-repeat no-repeat
    background-position center center
    border none
    cursor cell
    display inline-block
    line-height 48px
    padding 0
    text-indent -9999px
    transition background-image 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
    width 14.12%
    
    &:hover
      background-image url("../assets/images/plus_hover.svg")
    &:focus
      outline none
      
/*------------------*/
/* == TODOS-FOOTER  */
/*------------------*/
.Todos-footer
  bottom 32px
  left 50%
  position absolute
  text-align center
  transform translateX(-50%)
  
  .Todos-counter
    color #7C8087
    font-size 16px
    margin-bottom 6px
    text-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
    text-transform uppercase
    
  .Todos-filter
    li
      display inline-block

    .Filter 
      button
        appearance none
        background none
        border none
        color #7C8087
        cursor pointer
        font-size 12px
        font-weight 200
        line-height 1.5em
        margin 0 8px
        padding 0 3px
        text-transform uppercase
        
        &:focus
          outline none
          
      &.isActive button
        border thin solid #F1DB2A
        border-radius 4px
        color #F1DB2A

    .Separator
      color #FDFDFD
      font-size 12px
      font-weight 200
      line-height 20px
      
    